
.pdf-document {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.react-pdf__Page {
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


.react-pdf__Page__canvas {
  border-radius: 4px;
  display: block;
  width: 100%;
}


.pdf-controls {
  padding: 0.15rem 0.25rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 20%;
  max-width: 400px;
  flex-wrap: nowrap;
  gap: 0.15rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}


@media (max-width: 640px) {
  .pdf-controls {
    width: 90%;
    padding: 0.15rem 0.25rem;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0.25rem;
    max-width: 95%;
  }

  .pdf-controls > * {
    margin: 0 0.05rem;
  }


  .pdf-controls input[type="number"] {
    width: 30px;
    font-size: 12px;
    height: 24px;
  }
  

  .pdf-controls button {
    padding: 0.1rem;
    height: 26px;
    width: 26px;
  }

  .pdf-controls span {
    font-size: 10px;
  }
}


@media (min-width: 641px) and (max-width: 1024px) {
  .pdf-controls {
    width: 80%;
    padding: 0.25rem 0.5rem;
  }
}

.react-pdf__message--error {
  padding: 1rem;
  color: #dc2626;
  text-align: center;
}